*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
img{
    width: 120px;
    height: 100px;
    border-radius: 50%;
}
svg{
    width: 60px;
    height: 60px;
    fill: #ff0000;
}
main{
    height: 100vh;
    padding: 100px 0 0 0;
    background-image: url(Images/cloud-and-city.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#weather-info{
    width: 390px;
    height: 390px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto 60px auto;
    border-radius: 20px;
    padding: 60px 20px 10px 20px;
    color: #ffffff;
}
#location-container{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
#location-container svg{
    margin-left: 20%;
}
#place{
    align-self: center;
    font-size: 2rem;
}
#deg-container{
    font-size: 1.9rem;
    margin-bottom: 20px;
    cursor: pointer;
}
#description{
    font-size: 1.4rem;
    margin-bottom: 40px;
}
#tomorrow{
    display: inline-block;
    font-size: 1.1rem;
    margin-right: 2%;
}
#nxt-tomorrow{
    display: inline-block;
    font-size: 1.1rem;
    margin-left: 2%;
}
#overmorrow{
    margin-top: 20px;
    font-size: 1.5rem;
}
#tomorrow-deg, #nxt-tomorrow-deg{
    font-size: 1.1rem;
}
#search{
    width: fit-content;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
#location{
    grid-area: 2/1/3/4;
    height: 45px;
    border-radius: 20px;
    width: 400px;
    border: 1px solid #c0c0c0;
    padding-left: 15px;
    font-size: 1rem;
}
#location:focus{
   outline: none;
}
#btn{
    grid-area: 2/3/3/4;
    background-color: #ffffff;
    color: #0000ff;
    border-radius: 0 20px 20px 0;
    border: 1px solid #0000ff;
    margin-left: 20px;
    padding: 12px 15px;
}
#btn:hover{
    cursor: pointer;
}
#btn:active{
    background-color: #0000ff;
    color: #ffffff;
}
label{
    margin: auto 0 auto 10px;
    font-size: 1.5rem;
    color: #ffffff;
}
#comment{
    margin-top: 115px;
    font-size: 0.8rem;
    color: #ffffff;
}
dialog{
    width: 250px;
    height: 200px;
    margin: auto;
    padding: 45px 0 45px 0;
    background: none;
    border: none;
    color: #ffffff;
}
#inner-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
#load{
    font-size: 1.3rem;
}